* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #3b3b3b;
}

.mainContainer {
  width: 500px;
  background: #fff;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainContainer .subContainer .heading {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.mainContainer .subContainer .heading hr {
  height: 1px;
  background: #ccc;
  flex-basis: auto;
  width: 100px;
}

.mainContainer .subContainer .heading h1 {
  color: #ff0077;
  font-size: 20px;
  font-weight: 600;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cards {
  width: 100%;
  padding: 24px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.cards .cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crads_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.units div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.units div p {
  font-size: 16px;
  font-weight: 600;
}

.units div span {
  font-size: 12px;
  color: #fff;
  background-color: #ff4a81;
  padding: 2px 4px;
}

.units p {
  font-size: 14px;
}

.crads_right div p {
  font-size: 16px;
}

.crads_right div s {
  font-size: 12px;
  color: #646464;
}

.base {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.base .free {
  font-size: 14px;
  color: #ff4a81;
}

.base .total {
  font-size: 14px;
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn button {
  width: 100%;
  border: none;
  padding: 12px 8px;
  font-size: 14px;
  border-radius: 4px;
  background: #f56a93;
  color: #fff;
  cursor: pointer;
}

.btn .copyright {
  font-size: 12px;
  color: #9c9c9c;
  align-self: flex-end;
  display: flex;
}

.btn div {
  display: flex;
  justify-content: end;
}

table thead th {
  font-size: 12px;
  font-weight: 400;
}

table .number {
  font-size: 12px;
  font-weight: 400;
  padding-left: 24px;
  padding-right: 8px;
}

table select {
  width: 80px;
  font-size: 14px;
  padding: 4px;
  margin-right: 8px;
  background: #fff;
  border: 1px solid #ccc;
}

#cardBottom1, #cardBottom2, #cardBottom3{
  display: none;
}

#card2 {
  position: relative;
}

.popular {
  font-size: 12px;
  background: #f56a93;
  padding: 4px 8px;
  color: #fff;
  position: absolute;
  top: -8px;
  right: 6px;
}